<!-- movie-item.component.html -->

<div class="card position-relative">
  <div class="card-img-overlay-smoke">
    <div class="tamano position-relative" [ngStyle]="{ 'background-image': 'url(' + urlImage() + ')' }">
      <!-- Capa oscura superpuesta -->
      <div class="position-absolute top-0 start-0 w-100 h-100" style="background-color: rgba(0, 0, 0, 0.5);"></div>
      <div class="pt-4 ps-4 position-relative">
        <h5 class="card-title">{{ movie.title }}</h5>
        <ngb-rating class="rating" [rate]="raiting()" class="rating"></ngb-rating>
      </div>
      <div class="d-flex flex-column align-items-end position-absolute bottom-0 end-0 p-3">
        <p class="mb-5" style="text-align: end;">{{ getGenreNames(movie.genre_ids).join(', ') }}</p>
        <button type="button" class="btn btn-details" [routerLink]="['/movie/detail/', movie.id]">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus"
            viewBox="0 0 16 16">
            <path
              d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
          </svg>
        </button>
        <button type="button" class="btn btn-details2" (click)="openModal(lists)">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-list"
            viewBox="0 0 16 16">
            <path
              d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2z" />
            <path
              d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8m0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0M4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0m0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0" />
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #lists let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">¿A que lista quieres añadir la película?</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <ul *ngFor="let l of listsPersonalized">
      <button (click)="addToList(l.id, movie.id)" class="btn btn-info">Lista: {{l.name}}</button>
    </ul>
  </div>
</ng-template>