<div class="contenedor">
    <div class="row">
        <div class="col-3">
            <img [src]="getImgAvatar()" style="border-radius: 100%;" width="100%" />
        </div>
        <div class="col-9">
            <div class="titulo">
                <h1>
                    Username: {{ username }}
                </h1>
            </div>
            <h2>Country: {{country}}</h2>
        </div>
    </div>
    <h3 class="titulo-overview mt-3">Watchlist movies:</h3>
    <div class="reparto list-group mt-3 list-group-horizontal position-relative overflow-auto overflow-y-hidden">
        <div *ngFor="let m of movieWatchlist">
            <div class="card">
                <div class="card-img-overlay-smoke">
                    <div class="tamano position-relative"
                        [ngStyle]="{ 'background-image': 'url(' + getImageMovie(m.poster_path) + ')' }">
                        <div class="position-absolute top-0 start-0 w-100 h-100"
                            style="background-color: rgba(0, 0, 0, 0.5);">
                        </div>
                        <div class="pt-4 ps-4 position-relative">
                            <h5 class="card-title">{{m.title}}</h5>
                        </div>
                        <div class="d-flex flex-column align-items-end position-absolute bottom-0 end-0 p-3">
                            <button type="button" class="btn btn-details" [routerLink]="['/movie/detail/', m.id]">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                    class="bi bi-plus" viewBox="0 0 16 16">
                                    <path
                                        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h3 class="titulo-overview mt-3">Watchlist TV Shows:</h3>
    <div class="reparto list-group mt-3 list-group-horizontal position-relative overflow-auto overflow-y-hidden">
        <div *ngFor="let t of tvshowWatchlist">
            <div class="card">
                <div class="card-img-overlay-smoke">
                    <div class="tamano position-relative"
                        [ngStyle]="{ 'background-image': 'url(' + getImageMovie(t.poster_path) + ')' }">
                        <div class="position-absolute top-0 start-0 w-100 h-100"
                            style="background-color: rgba(0, 0, 0, 0.5);">
                        </div>
                        <div class="pt-4 ps-4 position-relative">
                            <h5 class="card-title">{{t.name}}</h5>
                        </div>
                        <div class="d-flex flex-column align-items-end position-absolute bottom-0 end-0 p-3">
                            <button type="button" class="btn btn-details" [routerLink]="['/tv-show/detail/', t.id]">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                    class="bi bi-plus" viewBox="0 0 16 16">
                                    <path
                                        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h3 class="titulo-overview mt-3">Favourites movies:</h3>
    <div class="reparto list-group mt-3 list-group-horizontal position-relative overflow-auto overflow-y-hidden">
        <div *ngFor="let m of movieFavourites">
            <div class="card">
                <div class="card-img-overlay-smoke">
                    <div class="tamano position-relative"
                        [ngStyle]="{ 'background-image': 'url(' + getImageMovie(m.poster_path) + ')' }">
                        <div class="position-absolute top-0 start-0 w-100 h-100"
                            style="background-color: rgba(0, 0, 0, 0.5);">
                        </div>
                        <div class="pt-4 ps-4 position-relative">
                            <h5 class="card-title">{{m.title}}</h5>
                        </div>
                        <div class="d-flex flex-column align-items-end position-absolute bottom-0 end-0 p-3">
                            <button type="button" class="btn btn-details" [routerLink]="['/movie/detail/', m.id]">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                    class="bi bi-plus" viewBox="0 0 16 16">
                                    <path
                                        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h3 class="titulo-overview mt-3">Favourites TV Shows:</h3>
    <div class="reparto list-group mt-3 list-group-horizontal position-relative overflow-auto overflow-y-hidden">
        <div *ngFor="let t of tvshowFavourites">
            <div class="card">
                <div class="card-img-overlay-smoke">
                    <div class="tamano position-relative"
                        [ngStyle]="{ 'background-image': 'url(' + getImageMovie(t.poster_path) + ')' }">
                        <div class="position-absolute top-0 start-0 w-100 h-100"
                            style="background-color: rgba(0, 0, 0, 0.5);">
                        </div>
                        <div class="pt-4 ps-4 position-relative">
                            <h5 class="card-title">{{t.name}}</h5>
                        </div>
                        <div class="d-flex flex-column align-items-end position-absolute bottom-0 end-0 p-3">
                            <button type="button" class="btn btn-details" [routerLink]="['/tv-show/detail/', t.id]">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                    class="bi bi-plus" viewBox="0 0 16 16">
                                    <path
                                        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h3 class="titulo-overview mt-3">Rated movies:</h3>
    <div class="reparto list-group mt-3 list-group-horizontal position-relative overflow-auto overflow-y-hidden">
        <div *ngFor="let m of movieRated">
            <div class="card">
                <div class="card-img-overlay-smoke">
                    <div class="tamano position-relative"
                        [ngStyle]="{ 'background-image': 'url(' + getImageMovie(m.poster_path) + ')' }">
                        <div class="position-absolute top-0 start-0 w-100 h-100"
                            style="background-color: rgba(0, 0, 0, 0.5);">
                        </div>
                        <div class="pt-4 ps-4 position-relative">
                            <h5 class="card-title">{{m.title}}</h5>
                        </div>
                        <div class="d-flex flex-column align-items-end position-absolute bottom-0 end-0 p-3">
                            <button type="button" class="btn btn-details" [routerLink]="['/movie/detail/', m.id]">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                    class="bi bi-plus" viewBox="0 0 16 16">
                                    <path
                                        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h3 class="titulo-overview mt-3">Rated TV Shows:</h3>
    <div class="reparto list-group mt-3 list-group-horizontal position-relative overflow-auto overflow-y-hidden">
        <div *ngFor="let t of tvshowRated">
            <div class="card">
                <div class="card-img-overlay-smoke">
                    <div class="tamano position-relative"
                        [ngStyle]="{ 'background-image': 'url(' + getImageMovie(t.poster_path) + ')' }">
                        <div class="position-absolute top-0 start-0 w-100 h-100"
                            style="background-color: rgba(0, 0, 0, 0.5);">
                        </div>
                        <div class="pt-4 ps-4 position-relative">
                            <h5 class="card-title">{{t.name}}</h5>
                        </div>
                        <div class="d-flex flex-column align-items-end position-absolute bottom-0 end-0 p-3">
                            <button type="button" class="btn btn-details" [routerLink]="['/tv-show/detail/', t.id]">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                    class="bi bi-plus" viewBox="0 0 16 16">
                                    <path
                                        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h3 class="titulo-overview mt-3">Your lists:</h3>
    <button class="btn btn-danger col-2" style="margin-left: 85%;" (click)="open(content)">Create a new list</button>
    <div class="reparto list-group mt-3 list-group-horizontal position-relative overflow-auto overflow-y-hidden">
        <div *ngFor="let l of listsPersonalized">
            <div class="card">
                <div class="card-img-overlay-smoke">
                    <div class="tamano position-relative"
                        style="background-image: url('https://cdn-icons-png.flaticon.com/512/1950/1950715.png'); background-repeat: no-repeat;">
                        <div class=" position-absolute top-0 start-0 w-100 h-100"
                            style="background-color: rgba(0, 0, 0, 0.5);">
                        </div>
                        <div class="pt-4 ps-4 position-relative">
                            <h4 class="card-title">{{l.name}}</h4>
                            <button class="btn btn-danger" style="margin-top: 311px;" (click)="deleteList(l.id)"> <svg
                                    xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-trash" viewBox="0 0 16 16">
                                    <path
                                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                    <path
                                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                                </svg>
                            </button>
                        </div>
                        <div class="d-flex flex-column align-items-end position-absolute bottom-0 end-0 p-3">
                            <button type="button" class="btn btn-details" (click)="openDetails(modalDetails, l.id)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                    class="bi bi-plus" viewBox="0 0 16 16">
                                    <path
                                        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Add List</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <form>
                <div class="mb-3">
                    <label for="name">Nombre</label>
                    <div class="input-group">
                        <input id="name" class="form-control" placeholder="Escriba un nombre" name="name" type="text"
                            [formControl]="name" />
                    </div>
                </div>
                <div class="mb-3">
                    <label for="description">Descripción</label>
                    <div class="input-group">
                        <textarea id="description" class="form-control" placeholder="Escriba una descripcion"
                            name="description" type="text" [formControl]="description"> </textarea>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="submit()">Save</button>
        </div>
    </ng-template>

    <ng-template #modalDetails let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">{{selectedList.name}}</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <p>Owner user: {{selectedList.created_by}}</p>
            <p>Description of the list: {{selectedList.description}}</p>
            <p>Number of items: ({{selectedList.item_count}})</p>
            <ul *ngFor="let i of selectedList.items">
                <p>{{i.original_title}}</p>
            </ul>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="clear(selectedList.id)">Clear List</button>
        </div>
    </ng-template>
</div>